/* Dark Theme for the entire card */
body {
  font-family: "Helvetica", sans-serif;
  background-color: #1b1f23; /* Dark background */
  color: #cfd6e0; /* Light text for readability */
  padding: 30px 0;
  font-weight: 300;
}

/* Top Bar Styles */
.top-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

/* Align the logo and text */
.logo-container {
  display: flex;
  align-items: center; /* Ensures the logo and text are aligned vertically */
}

/* Logo Style */
.button-logo {
  width: 30px; /* Adjust the size of the logo */
  height: 30px;
  margin-right: 10px; /* Adds space between the logo and text */
  margin-left: 20px;
}

/* Brand Name Style */
.brand-name {
  font-size: 20px;
  font-weight: 200;
  color: white; /* Adjust the text color */
}

/* Button group styles */
.button-group {
  display: flex;
  gap: 15px; /* Spacing between buttons */
  padding-right: 20px; /* Add space on the right to prevent the button from crossing the edge */
  background-color: transparent;
}

/* Adjust the w3m-button to be smaller */
w3m-button {
  background-color: transparent; /* Blue color for consistency */
  color: #953333; /* Light text color */
  border: none;
  padding: 6px 12px; /* Smaller padding to reduce the size */
  border-radius: 4px;
  font-size: 0.875rem; /* Slightly smaller font size */
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

/* Hover effect for the button */
/* w3m-button:hover {
  background-color: #357abd; 
} */

w3m-modal {
  z-index: 120 !important; /* Ensure the modal is above other elements */
}

/* Staking Page Styles */
.staking-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 60px; /* Ensures content is below the fixed top bar */
}

.header h1 {
  text-align: center;
  color: #4a90e2;
}

.staking-section,
.rewards-section,
.unstake-section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  color: #f4f6f7;
}

.staking-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #357abd;
}
